Request::connect can build an invalid Request object

According to [RFC2817, Section 5.2](https://datatracker.ietf.org/doc/html/rfc2817#section-5.2) the URI of the CONNECT method should be only the authority part:

>    A CONNECT method requests that a proxy establish a tunnel connection
>   on its behalf. The Request-URI portion of the Request-Line is always
>   an 'authority' as defined by URI Generic Syntax [2], which is to say
>   the host name and port number destination of the requested connection
>   separated by a colon:

However with the [http 0.2.4 crate](https://lib.rs/crates/http) it is possible to create a `CONNECT` request with an invalid URI part.

Example:

```rust
use http::Request;
use http::Uri;

fn main() {
    let u: Uri = "http://example.org/index.html".parse().unwrap();
    let r = Request::connect(u).body(()).unwrap();
    dbg!(&r);
}
```

Output:

```
[src/main.rs:7] &r = Request {
    method: CONNECT,
    uri: http://example.org/index.html,
    version: HTTP/1.1,
    headers: {},
    body: (),
}
```

[Rust Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=35ca2115339feb18a9dc88dfd8fa3f18)

Available options are:
- Keep it as is.
- When building a `CONNECT` request, take only the [authority part of the URI](https://docs.rs/http/0.2.4/http/uri/struct.Uri.html#method.authority) and ensure it has the correct value for the destination port.
- Return a [`Uri(uri::InvalidUri)`](https://docs.rs/http/0.2.4/src/http/error.rs.html#26) error when calling `body()`.