path_and_query allow path not starting with slash

using [`path_and_query()`](https://docs.rs/http/0.2.5/http/uri/struct.Builder.html#method.path_and_query):

 ```rust
Uri::builder()
    .scheme(Scheme::HTTP)
    .authority("localhost:8000")
    .path_and_query("hello/world")
    .build()
```

report no error, but rocket didn't accept it with:

```none
Oct 12 19:24:35.028 DEBUG hyper::proto::h1::conn: parse error (invalid URI) with 115 bytes
Oct 12 19:24:35.028 DEBUG hyper::proto::h1::role: sending automatic response (400 Bad Request) for parse error
```

I believe this should be considered a bug either http or rocket, I needed to add a slash at the beginning `"/hello/world"`

I can confirm the URI built by the example is `http://localhost:8000hello/world`.

After reading a bit on the URI RFC it seems to be a bug since the [RFC3986, section 3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3) defines the path to basically be either empty or a string that starts with `/` but not with `//`. 

https://github.com/SergioBenitez/Rocket/issues/1994

I just hit this too. This is more general than `Builder`, you can do this too by writing something like

```rust
let mut parts = Uri::from_static("http://localhost:8000").into_parts();
parts.path_and_query = Some(PathAndQuery::from_static("hello/world"))
let uri = Uri::from_parts(parts).unwrap();
dbg!(uri); // http://localhost:8000hello/world
```

This is made even more confusing by the fact that `PathAndQuery` prints a leading slash (unless it starts with `*`), which means that stuffing a `dbg!(&parts)` in there shows

```
[src/main.rs:6] &parts = Parts {
    scheme: Some(
        "http",
    ),
    authority: Some(
        localhost:8000,
    ),
    path_and_query: Some(
        /hello/world,
    ),
    _priv: (),
}
```

I think what needs to happen is:

* `PathAndQuery` should stop adding in the `/` prefix when printing if it's not part of the path. Similarly `as_str()` should stop converting an empty value into `"/"`. HTTP/1.1 message syntax requires a non-empty path, but URIs don't.
* When building a Uri (either with `Builder` or from `Parts`), the validation logic needs to ensure that the path is either empty or starts with a slash (see [RFC 3986 §3.3 Path](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3)).
* There's other validation logic updates that should be done. RFC 3986 indicates that a relative URI (no scheme or authority) doesn't need to start with a slash, but in that case the first path component cannot contain a colon.
* Heck, right now a Uri with a scheme but no authority is treated as an error, but that should be legal as a URI. It also looks like printing a `Uri` always tacks on the `//` if there's a scheme, but again, if there's no authority then the `//` doesn't belong.
* Similarly a relative URI is allowed to look like `//localhost/foo` but this is also rejected.
* This "asterisk form" that's part of HTTP/1.1 message syntax is also handled oddly. `PathAndQuery` special-cases a leading `*` in its printing (though my above recommendations would stop doing that). I'm not sure offhand if there's any other explicit handling of this, but if there is, it probably should be removed. AFAICT the only time in which this is syntactically meaningful is when calculating an Effective Request URI, and even then, asterisk-form is only ever used with `OPTIONS` (and I don't see any current mechanism to join a request URI with the server configuration to generate an Effective URI anyway).

Or, more generally, `http::uri` should conform to [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986). Any particular validation in the context of HTTP routing should be done elsewhere. In fact, I would argue that Request Targets ([RFC 7230 §5.3](https://datatracker.ietf.org/doc/html/rfc7230#section-5.3), which is what the `Uri` type currently references) should be a separate type. It can be a wrapper around `PathAndQuery` that validates the particular forms involved, and there should be a facility by which this can be joined against a `Uri` using the Effective Request URI rules.

related to #229

This is causing issues for me too. The code should print `http://wikipedia.org`, but it prints `http://wikipedia.org/`.

```rust
let uri = Uri::try_from("http://wikipedia.org").unwrap();
println!("{uri}");
```

In our code we also use the string representation to generate new URIs using an existing URI as a prefix (there does not seem to be a nicer way to do this).
Unintuitively, the following should print `http://wikipedia.org/index.php`, but it prints `http://wikipedia.org//index.php`.

```rust
let uri = Uri::try_from("http://wikipedia.org").unwrap();
let uri2 = Uri::try_from(format!("{uri}/index.php")).unwrap();
println!("{uri2}");
```