`Uri` does not accept percent-encoded characters in hostname

`uri::authority::validate_authority_bytes` (and thus `Authority::from_static`/`from_maybe_shared`) returns `Err(AuthorityError::InvalidAuthority)` for host names with percent-encoded characters.

I'm not sure if this is intentional, as percent-encoding is explicitly allowed for the `userinfo` part of the authority in the parsing logic, with [this comment](https://github.com/hyperium/http/blob/v1.4.0/src/uri/authority.rs#L504) referencing RFC3986 (and specifically mentioning that `%` shouldn't be allowed in a host name):

```rust
// Per https://tools.ietf.org/html/rfc3986#section-3.2.1 and
// https://url.spec.whatwg.org/#authority-state
// the userinfo can have a percent-encoded username and password,
// so record that a `%` was found. If this turns out to be
// part of the userinfo, this flag will be cleared.
// Also per https://tools.ietf.org/html/rfc6874, percent-encoding can
// be used to indicate a zone identifier.
// If the flag hasn't been cleared at the end, that means this
// was part of the host name (and not part of an IPv6 address), and
// will fail with an error.
```

However, [RFC3986 section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2) defines the `host` part of the authority as

```host = IP-literal / IPv4address / reg-name```

with `reg-name` being defined a few paragraphs later as

```reg-name = *( unreserved / pct-encoded / sub-delims )```

https://url.spec.whatwg.org/#host-parsing also agrees that the host can contain percent-encoded characters. So, from my understanding percent-encoded characters in a host name should be allowed.

FWIW, this came up when I was writing a Kubelet plugin in Rust. Kubelet plugins communicate on Unix sockets via gRPC, and the kubelet uses the percent-encoded socket path in the `gRPC` `:authority` HTTP2 header (from my research this is quite common for http over unix sockets). `h2` uses `http::uri::Authority` to parse this, fails and immediately terminates the connection with a `PROTOCOL_ERROR`.

At first I wasn't sure if the kubelet was at fault for this choice of authority or if `http`'s parsing was too strict, but reading the RFCs it does appear to be the latter.

Oh, just saw https://github.com/hyperium/http/pull/528. So, this was discussed a few years ago with the consensus that percent encoding in host names should probably be supported, but it was never implemented? I'd be happy to submit a PR if wanted.