Optional Bodies

As of 2026-05-02 with `master` at `68e0abb`, both `Request` and `Response` always carry a body:
https://github.com/hyperium/http/blob/68e0abb052a243a5530ad4c404cb0b169a7ecb4a/src/request.rs#L154
https://github.com/hyperium/http/blob/68e0abb052a243a5530ad4c404cb0b169a7ecb4a/src/response.rs#L176

I would like to understand why this is the case, as opposed to both aforementioned lines reading `body: Option<T>`. My main motivation for this is that I ran into a bug downstream of `http`, which is related to the "empty body": https://github.com/tokio-rs/axum/issues/3741

I have found various other cases where the "empty body" seems to have caused trouble in one way or another:

 - https://github.com/tokio-rs/axum/issues/730
 - https://github.com/tokio-rs/axum/issues/747
 - https://github.com/hyperium/hyper/discussions/3707 (with more references; closed without resolution)

I believe that many of these edge cases around the "empty body" would have been less problematic if bodies were `Option<T>`.

Was it an intentional design decision to not have bodies be `Option<T>` but plain `T`? If so, what were the reasons?

I do realize that changing this would likely mean a major version bump because consequentially, at the very least, `fn body(&self) -> &T` on both `Request` and `Response` would have to be changed to `fn body(&self) -> Option<&T>`.

Contrast this with various RFCs and other well-known documentation on HTTP which all mention some flavor of optionality for bodies (emphasis mine):

#### HTTP/1.0

[RFC 1945 (HTTP/1.0), Section 7.1 (Entity Body)](https://datatracker.ietf.org/doc/html/rfc1945#section-7.2):
> The entity body **(if any)** sent with an HTTP request or response is […]

#### HTTP/1.1

[RFC 2616 (HTTP/1.1), Section 4.3 (Message Body)](https://datatracker.ietf.org/doc/html/rfc2616#section-4.3):
> The message-body **(if any)** of an HTTP message […]

#### HTTP Semantics

[RFC 9110 (HTTP Semantics), Section 6.4 (Content Semantics), Paragraph 1](https://datatracker.ietf.org/doc/html/rfc9110#section-6.4-1):
> HTTP messages **often** transfer a complete or partial representation as the message "content": a stream of octets sent after the header section, […]

#### HTTP/2

[RFC 9113 (HTTP/2), Section 8.1 (HTTP Message Framing), Paragraph 3, Item 2](https://datatracker.ietf.org/doc/html/rfc9113#section-8.1-3.2):
> […] **zero or more** DATA frames containing the message content […]

The [examples in RFC 9113 (HTTP/2), Section 8.8 (Examples)](https://datatracker.ietf.org/doc/html/rfc9113#section-8.8) show "Simple Request" and "Simple Response", both without a body, followed by "Complex Request" with a body.

#### HTTP/3

[RFC 9114 (HTTP/3), Section 4.1 (HTTP Message Framing), Paragraph 5, Item 2](https://datatracker.ietf.org/doc/html/rfc9114#section-4.1-5.2):
> […] optionally, the content, **if present**, sent as a series of DATA frames, and […]

#### MDN

The [MDN Guide on "HTTP Messages", Section "Anatomy of an HTTP Message"](https://developer.mozilla.org/docs/Web/HTTP/Guides/Messages#anatomy_of_an_http_message):
> An **optional** body containing data associated with the message. […] **Whether a message contains a body or not** is determined by the start-line and HTTP headers.

/cc @hxzhao527

I suppose because this library did not want to impose any constraints on what a `body` could even be. The original hope for `http` was that it could be HTTP types used by any HTTP library, no matter how they understand bodies or reading or writing or anything. You could provide an `Option<T>` as the body yourself. You can provide `()`, or any other type at all. What would `Option<()>` mean, if required by this library?

In the same way that the HTTP Semantics RFC mentions that headers are also optional, but we didn't opt for `Option<HeaderMap>`. We allowed that type to determine its emptiness. Similar with bodies, the implementation of whatever body type is provided can decide how to indicate if it is empty or none or always full or anything else.