HTTP/1.1 Requests MUST have host headers with the appropriate URL

A built `Request` should by default include a filled `Host` header, otherwise this request is not HTTP/1.1 compliant

As stated in [RFC 2616 §9](https://www.rfc-editor.org/rfc/rfc2616#section-9):

> The Host request-header field ([section 14.23](https://www.rfc-editor.org/rfc/rfc2616#section-14.23)) MUST accompany all HTTP/1.1 requests.

And according to [RFC 2616 §14.23](https://www.rfc-editor.org/rfc/rfc2616#section-14.23):
> The Host field value MUST represent the naming authority of the origin server or gateway given by the original URL.

and

> A client MUST include a Host header field in all HTTP/1.1 request  messages. If the requested URI does not include an Internet host name for the service being requested, then the Host header field MUST be given with an empty value.



Hey there! Yes, it's true that requests should include a host header. (There are weird rare cases where they don't 🤷).

But, what were you trying to ask in this issue? This crate simply provides the types to construct HTTP messages. Any client implementation can enforce what headers exist, and any server can decide if it really needs the host header or not.

But a HTTP/1.1 compliant implementation of a `Request` built by a `http::request::Builder` should fill out the Host field.

At least noncompliance should be indicated, as to point users expecting the field to be filled out towards a solution ( _hey, fyi, you have to do a `.header("Host", "foo.com")` manually if you want that filled out_ )

I see what you're saying. I'm of the opinion that this isn't something to enforce on the `http` types. A client implementation can enforce or document about it, such as hyper has done here: https://docs.rs/hyper/latest/hyper/client/conn/http1/struct.SendRequest.html#method.send_request