StatusCode::is_redirection() is misleading/incorrect for 304

`StatusCode::is_redirection()` is true for 304 Not Modified.

This function is documented to be true for all 3xx codes, so it's technically correct, but the status code [304](https://tools.ietf.org/html/rfc7232#section-4.1) is definitely [not a redirection](https://tools.ietf.org/html/rfc7231#section-6.4), so the function name seems misleading.

I'm filing this issue, because I've written a bug, along the lines of:

```rust
if status.is_redirection() { 
   follow(res.headers().get(LOCATION));
} else if status == StatusCode::NOT_MODIFIED {
   use_cached();
}
```

Could you exclude 304 from `is_redirection()`?

Unfortunately, the 3xx HTTP class is called the redirection class:

* https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#3xx_Redirection
* https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3

So, while confusing, excluding 304 would be incorrect.

RFC 2616 is obsolete. It has been replaced by RFC 7231 and RFC 7232.

Do you have a spec reference that supports the change you suggested?

Yes, RFC 7231 has removed status 304 from list of redirection statuses.